
{{>messages}}
<div class="container my-3 w-50 bg-light p-3">
    <h3>{{viewTitle}}</h3>

    <form action="/user/register" method="POST">
        <input type="hidden" name="_id" value="{{user._id}}">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" value="{{user.username}}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group" id="password">
                <input type="password" class="form-control" id="passwordField" name="password" value="{{user.password}}">
                <div class="input-group-append">
                    <button type="button" class="input-group-text" id="seePassword">
                        <i class="fas fa-eye-slash"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input type="password" class="form-control" name="confirm" id="confirm">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{user.name}}">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select name="gender" class="custom-select" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success mr-2">
                <i class="fas fa-check"></i> Go
            </button>
        </div>
    </form>
</div>
